.avatar {
    margin: auto;
    padding-top: 20px;
    width: 100% !important;
    height: 100% !important;
}

#Statement {
  text-align: center;
  font-size: 30px;
}

.ion-padding {
  text-align:center;
}

.header {
  text-align: center;
  font-size: 30px;

}